.navbar {
  width: 1250px;
  height: 50px;
  background-color: #69e0bd;
}

.loginContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}
.headerText{
  color:  rgb(62,145,117 ) ;
}
.leftSideContainer{
  width: 25%;
  background-color: rgb(62,145,117 ) ;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 50px;
}
.RightSideContainer{
  width: 75%;
  height: 100vh;
  z-index: 2;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.centerBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}


.loginleft{
  width: 300px;
  gap: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;
}

.loginBTN{
  border: 1px solid #fff;
  border-radius: 15px;
  width: 125px;
  height: 33px;
  z-index: 1;
}

.loginBTN1{
  border-radius: 15px;
  width: 125px;
  height: 33px;
  z-index: 1;
  background-color:rgb(62,145,117 ) ;
}


.loginBTN2{
  border-radius: 5px;
  width: 125px;
  height: 33px;
  z-index: 1;
  background-color:rgb(62,145,117 ) ;
}


.shape{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #69e0bd;
  height: 30px;
  width: 35px;
  opacity: 0.5;
  rotate: 39deg;
  position: absolute;
  top: -60%;
  right: -15px;
}

.circleClip{
  clip-path: circle(50% at 50% 50%);
  background-color: #69e0bd;
  height: 150px;
  width: 150px;
  opacity: 0.5;
  position: absolute;
  bottom: -50px;
  left: -50px;
}
.triangleShape{
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #69e0bd;
  height: 80px;
  width: 80px;
  opacity: 0.5;
  rotate: 100deg;
  position: absolute;
  top: -100px;
  right: -50px;
}
.shape-Btn{
  position: relative;
}
.squarShape{
  clip-path: inset(5% 20% 15% 10%);
  background-color: #69e0bd;
  height: 80px;
  width: 80px;
  opacity: 0.5;
  rotate: 110deg;
  position: absolute;
  top: -30px;
  left: -25px;
}

.Chatcontainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.txtColor{
  color: #69e0bd;
}
.contacts {
  width: 250px;
  background-color: #fafafa;
  height: 100vh;
}

.chatbox {
  width: 1000px;
  height: 100vh;
background-color: azure;
}

.contacts {
  border-right: 1px solid #ddd;
}

.induvidualPerson {
  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.contactIcon {
  width: 35px;
  height: 35px;

}
.contactIcon1 {
  width: 30px;
  height: 30px;

}
.contactIcon2{
  width: 40px;
  height: 40px;
  border: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.messageRecievedTime {
  opacity: 0.6;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.contactName {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  position: relative;
}
.contactName1 {
  font-weight: 600;
  font-size: 11px;
  line-height: 18px;
  position: relative;
}
.contactName:hover::after {
  content: attr(data-name); /* Use the data-name attribute as the tooltip content */
  position: absolute;
  top: -100%; /* Position below the element */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin-top: 5px; /* Add a small gap */
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.contactName::after {
  opacity: 0;
  visibility: hidden;
}


.LastMessage {
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
}

.badgeCount {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #69e0bd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 3px;
}

.contactDescription {
  width: 100px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coloum {
  flex-direction: column;
}

.chatBox{
  height: 83vh;
}

.sendSomething{
  width: 1000px;
  height: 100%;
  position: relative;
  border: 1px solid #ddd;
}

.textbox{
  width: 1000px;
  height: 60px;
  font-size: 25px;
  position: absolute;
  padding-right: 100px;
  padding-left: 20px;
  border: 1px solid #ddd;
  border-left: none ;
  border-top: none ;
  outline: none;
}

.sendArrow{
  position: relative;
    right: 40px;
    /* top: 10px; */
    width: 40px;
    height: 39px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
}
.react-input-emoji--button {
  left: -50px;
}
.react-input-emoji--input {
width: 95% !important;
}
.navbar{
  position: relative;
}
.menuIcon{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.settings{
  background-color: #fff;
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 1;
  visibility: hidden;
}
.induvidualIcon{
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 0.5px solid #ddd;
  font-size: 11px;
  font-weight: 600;
}

.selectdPerson{
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
  visibility: hidden;
}

.settingIcon{
  width: 20px;
  height: 20px;
}

.gap10{
  gap: 5px;
  padding: 5PX;
 cursor: pointer;
}

.chatMainContainer{
  width: 100%;
  height: 100vh;
  position: relative;
}

.addUserContainer{
  position: absolute;
  top: 20px;
  right: 20px ;
  z-index: 2;
  background-color: #fff;
  padding: 0 10px;
  height: 80vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  visibility: hidden;
}

.checkboxDesign{
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn{
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: end;
}

.linkHighlight{
  color: rgb(79, 128, 234);
  font-weight: 600;
  cursor: pointer;
}

.editSettings{
  width: 1000px;
  height: 500px;
  position: absolute;
  background: white;
  z-index: 3;
  top: 9%;
  left: 20.5%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  display: none;
}

.fileUpload{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #69e0bd;
  background-image: url('./assets/pexels-pok-rie-33563-2049422.jpg');
  outline: none;
  border: none;
  color: transparent;
  background-color: transparent;
}

.Maincomponent{
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: rgb(62, 145, 117);;
  /* height: 100vh; */
  /* display: flex;
 flex-direction: row;
 justify-content: center;
  position: relative; */
}

.leftSideMain{
 width: 25%;
  height: 56px;
  display: flex;
  padding: 10px;
  align-items: center;
  /* border-right: 0.5px solid #ddd; */
  /* background-color: #F5F5F5; */
}
.rightSide{
  width: 70%;
}
.rightSideMain{
  width: 100%;
  height: 56px;
  background-color: #fff;
}

.searchDiv{
  width: 100%;
  height: 40px;
}
.searchDiv input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 4px 8px;
  color: #707991;
  font-size: 16px;
}
.leftTop{
    /* display: flex; */
    gap: 10px;
    padding: 10px;
}
.IndividualContact{
  /* width: 365px; */
  height: 72px;
  padding: 12px;
  display: flex;
  gap: 16px;
}
.IndividualContact:hover{
  background-color: #F5F5F5;
  transition: 0.5s;
  cursor: pointer;
}
.IndividualContact1{
  width: 100%;
  height: 56px;
  padding: 10px;
  display: flex;
  gap: 16px;
}
.contactListIcon{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.contactListIcon1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.contactList{
  width: 25%;
  background-color: #fff;
  height: calc(98vh - 60px);
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
  scrollbar-width: 1px;
  scroll-behavior: smooth;
}

.contactName{
  color: #011627;
  font-size: 16px;
  cursor: pointer;
}

.contactNameDiv{
  width: 268px;
  height: 46px;
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.contactNameDiv2{
  width: 268px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.LastMessage1{
  color: #707991;
  font-size: 14px;
}

.topViewChat{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.contactListFav{
  width: 100%;
  height: calc(98vh - 60px);
  background-image: url('./assets/main/Chats.svg');
  display: flex;
}
.leftContactList{
  width: 100%;
  border-right: 1px solid #ddd;
}
.contactListContainer{
  background-color: #69e0bd;
}
.chatBOX{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chatBoxfooter{
  width: 60%;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
}

.sender{
  background-color: #3E9175;
  color: #fff;
  padding: 4px 8px ;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  min-width:10px;
  max-width: 500px;
 
}
.reciver{
  background-color: #F5F5F5;
  padding: 4px 8px ;
  font-size: 14px;
  border-radius: 5px;
  min-width:10px;
  max-width: 500px;
  font-weight: 500;
}

.message{
  margin: 10px;
  width: 98%;
  display: flex;
}

.messageBox{
  width: 100%;
}
.chatBoxheader{
  height: 70vh;
  overflow:scroll;
  scroll-behavior: smooth;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
}

.MainSetting{
  width: 5%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ImageDiv{
  width: 5%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addUserDetails{
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  cursor: pointer;
}

.contactListIcon2{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.selectAddUser{
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactListIcon2{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.contactListIcon3{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.addUserBtn{
  display: flex;
  justify-content: end;
}

.chatBoxheader::-webkit-scrollbar {
  display: none;
}

.SettingDiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logoutDiv{
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  color: red;
  padding: 5px 20px;
  margin: 5px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.profileImg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #69e0bd;
}
.profileDiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0 20px;
}

.profileName{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  font-weight: 500;
}