
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
  font-family: "DM Sans", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* WF Visual Sans,Inter,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',Helvetica,Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif */
.forum-regular {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}
body{
 
  width: 100%;
  height: 100vh;
  position: fixed;
}
.parent{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/pexels-pok-rie-33563-2049422.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
    width: 375px;
    height: 520px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #e3e3e3;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;

}

.btn-sign{
  width: 100%;
  height: 100%;
  padding: 3px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
}

.inputDiv{
  width: 380px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  background-color: rgb(115 249 155 / 30%);
  display: flex;
  flex-direction: row;
}
.textFieldIcon{
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputDiv1{
  width: 320px;
  height: 40px;
  border: 0.5px solid #ddd;
  border-radius: 5px;
}
.textField{
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  font-weight: 500;
}
.textField:focus{
  background-color: transparent;
}
.header{
  font-size: 30px;
  margin-bottom: 25px;
}

.options{
  height: 40px;
  display: flex;
  justify-content: space-between;
  width: 320px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.checkboxOption{
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.forgotpassword{
  color: rgb(79, 128, 234);
  cursor: pointer;
}

.btn{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color:rgb(79, 128, 234);
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.defaultFont{
  font-size: 13px;
 
}

.fontweight{
  opacity: 0.5;
  font-weight: 600;
}

.iconDiv{
  display: flex;
  width: 320px;
  justify-content: center;
  gap: 30px;
}

.card{
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 5px;
  box-shadow: rgb(29 21 13 / 20%) 0px 8px 24px;
}
.icons{
  width: 30px;
  height: 30px;
}
.facebook{
  color:rgb(79, 128, 234);
}
.google{
  color: red;
}